1-Qadam. Kerakli kutubxonalarni o'rnatamiz va data setni o'qiymiz

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data.csv')
print("Dastlabki ma'lumotlar:")
print(df.info())

Dastlabki ma'lumotlar:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            6696 non-null   float64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    6696 non-null   object
 19  TotalCharges      6698 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(19)
memory usage: 1.1+ MB
None

2-Qadam. Ma'lumotlarni tozalash va to'ldirish
Oylik to'lovlarni va jami to'lovlarni raqamga aylantiramiz, noto'g'ri qiymatlarni NaN qilamiz
Xizmat muddati bo'sh joylarini, oylik to'lovdagi va jami to'lovdagi bo'sh joylarni o'rtacha qiymat bilan to'ldiramiz

In [2]:
df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'], errors='coerce')
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

df['tenure'] = df['tenure'].fillna(df['tenure'].median())
df['MonthlyCharges'] = df['MonthlyCharges'].fillna(df['MonthlyCharges'].median())
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())

3-Qadam. Mijozlar ma'lumotlarini tozalaymiz va ekstremal qiymatlarni cheklaymiz. Faqat 0 yoki undan katta xizmat muddati (tenure) bo'lgan mijozlarni qoldiradiramiz, 10,000 dan katta to'lovlarni 99% chegarasiga moslab, anomaliyalarni olib tashlaymiz

In [3]:
df = df[df['tenure'] >= 0]

max_total = df['TotalCharges'].quantile(0.99)
df['TotalCharges'] = df['TotalCharges'].apply(lambda x: min(x, max_total) if x > 10000 else x)

4-Qadam. Kategoriyali va raqamli ustunlarni belgilaymiz va to'g'ri formatga o'tkazamiz

In [4]:
kategorik = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 
             'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 
             'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 
             'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']
for col in kategorik:
    df[col] = df[col].astype('category')

df['tenure'] = df['tenure'].astype(float)
df['MonthlyCharges'] = df['MonthlyCharges'].astype(float)
df['TotalCharges'] = df['TotalCharges'].astype(float)

5-Qadam. Yangi data setimizni saqlaymiz

In [16]:
df.to_csv('cleaned_data.csv', index=False)

6-Qadam. Yangi data setimizni tekshirib ko'ramiz

In [6]:
print("Tozalangan ma'lumotlar holati:")
print(df.info())
print(df.isnull().sum())
print(df.head())

Tozalangan ma'lumotlar holati:
<class 'pandas.core.frame.DataFrame'>
Index: 6973 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        6973 non-null   object
 1   gender            6973 non-null   category
 2   SeniorCitizen     6973 non-null   category
 3   Partner           6973 non-null   category
 4   Dependents        6973 non-null   category
 5   tenure            6973 non-null   float64
 6   PhoneService      6973 non-null   category
 7   MultipleLines     6973 non-null   category
 8   InternetService   6973 non-null   category
 9   OnlineSecurity    6973 non-null   category
 10  OnlineBackup      6973 non-null   category
 11  DeviceProtection  6973 non-null   category
 12  TechSupport       6973 non-null   category
 13  StreamingTV       6973 non-null   category
 14  StreamingMovies   6973 non-null   category
 15  Contract          6973 non-null   category
 16  PaperlessBilling  6973 non-null   category
 17  PaymentMethod     6973 non-null   category
 18  MonthlyCharges    6973 non-null   float64
 19  TotalCharges      6973 non-null   float64
 20  Churn             6973 non-null   category
dtypes: category(17), float64(3), object(1)
memory usage: 390.4+ KB
None
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64
   customerID  gender SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female             0     Yes         No     1.0           No
1  5575-GNVDE    Male             0      No         No    34.0          Yes
2  3668-QPYBK    Male             0      No         No     2.0          Yes
3  7795-CFOCW    Male             0      No         No    45.0           No
4  9237-HQITU  Female             0      No         No     2.0          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges  Churn
0           Electronic check          70.35         29.85     No
1               Mailed check          56.95       1889.50     No
2               Mailed check          53.85        108.15    Yes
3  Bank transfer (automatic)          70.35       1840.75     No
4           Electronic check          70.70        151.65    Yes

[5 rows x 21 columns]